<button class="btn btn-outline-info" (click)="openModal()">Agregar Reserva</button>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let reserva of reservas">
        Sala: {{reserva.sala_id}}<br>
        Motivo: {{reserva.motivo}}<br>
        Fecha: {{reserva.fecha}}<br>
        Hora de entrada: {{reserva.hora_inicio}} - 
        Hora de salida: {{reserva.hora_fin}} <br>
        Servicios:{{reserva.servicios}}<br>
        <button class="btn btn-outline-danger" (click)="eliminarReserva(reserva.id)">Eliminar Reserva</button>
    </li>
</ul>

<div class="modal" tabindex="-1" role="dialog" id="newReserva">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Reserva</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group col-md-12">
                <label>Motivo:</label><br>
                <input type="text" class="form-control" [(ngModel)]="body.motivo">
            </div>
            <div class="form-group col-md-12">
                <label>Fecha:</label><br>
                <input type="text" class="form-control datetimepicker" [(ngModel)]="body.fecha">
            </div>
            <div class="form-group col-md-6">
                <label>Hora Inicio:</label><br>
                <input type="text" class="form-control entrada " placeholder="Hora de entrada" [(ngModel)]="body.hora_inicio"/>
            </div>
            <div class="form-group col-md-6">
                <label>Hora Fin:</label><br>
                <input type="text" class="form-control salida " placeholder="Hora de entrada" [(ngModel)]="body.hora_fin">
            </div>
            <div class="form-group col-md-6">
                <label>Sala:</label><br>
                <input type="text" class="form-control" [(ngModel)]="body.sala_id">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="agregarReserva()">Guardar</button>
        </div>
      </div>
    </div>
</div>